[Desktop Entry]
Type=Application
Name=MCUDesk
Comment=Serial data acquisition, logging and visualization
Exec=mcudesk
Icon=mcudesk
Terminal=false
Categories=Development;Engineering;
StartupNotify=true
